.slider-container {
    width: 350px;
    margin: 0 10px;
    float: left
}

.rc-slider-track {
    background-color: transparent;
}

.rc-slider-rail {
    height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle:focus {
    background-color: teal;
    border: 2px solid teal;
    outline: none;
    box-shadow: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: flex-start; */
    height: 6vh;
}

.logo {
    margin-right: 15px;
    padding: 0 13px;
    font-size: 22px;
    background-color: #eceff1;
    font-family: roboto;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.logo a {
    text-decoration: none;
    color: black;
}

.select-container {
    float: right;
    margin-right: 5vw;
}